<header class="header">
  <nav>
    <div class="navbar-container">
      <span class="logo">Shiba Advocacia</span>
      <ul class="navbar-menu">
        <li><a href="/">Início</a></li>
        <li><a href="/agendar">Agendar Consultas</a></li>
        <li><a href="/status">Status de Agendamento</a></li>
      </ul>
    </div>
  </nav>
</header>