<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <h2 class="m-0">Shiba Jurídico</h2>
      </a>

      <ul class="nav">
        <li class="nav-item"><a href="/" class="nav-link text-white">Início</a></li>
        <li class="nav-item"><a href="/agendar" class="nav-link text-white">Agendar Consulta</a></li>
        <li class="nav-item"><a href="/fila" class="nav-link text-white">Fila de Atendimento</a></li>
      </ul>
    </div>
  </div>
</header>
