<div class="intro-container">
  <div class="intro-box">
    <h2>Bem-vindo à Shiba Advocacia</h2>
    <p>Agende sua consulta de forma rápida e fácil.</p>
  </div>
  <a href="/agendar" class="big-agendar-link">
    <div class="big-agendar-box">
      <img src="https://cdn-icons-png.flaticon.com/512/747/747310.png" alt="Agendar Consulta" class="agendar-img">
      <span>Agendar Consulta</span>
    </div>
  </a>
</div>